body {
  font-family: "Courier";
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#addCard {
  display: flex;
  background: none;
  border: none;
  font-size: 30px;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 90vw;
  height: 50vh;
  background-color: rgb(25, 25, 25);
}

.row {
  display: flex;
  width: 100%;
  height: 85px;
  background-color: rgb(65, 65, 65);
  margin: 5px;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  background-color: lawngreen;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 100px;
  background-color: white;
  margin-right: 5px;
}

#bank {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 300px;
  background-color: rgb(25, 25, 25);
  margin-bottom: 20px;
  padding: 5px;
}
